.root {
	padding: var(--medium-spacing);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: var(--small-spacing);
	max-width: 1200px;
	margin: 0 auto;
}

.info {
	width: fit-content;
	background-color: var(--body-elevated);
	padding: var(--medium-spacing);
	border-radius: var(--small-spacing);
	margin: auto;
}
