.root {
	padding: var(--medium-spacing);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: var(--small-spacing);
	max-width: min(1200px, 100%);
	margin: 0 auto;
}

.flex {
	flex: 1;
	display: grid;
	place-items: center;
	overflow: auto;
}

.info {
	width: fit-content;
	background-color: var(--body-elevated);
	padding: var(--medium-spacing);
	border-radius: var(--small-spacing);
	margin: auto;
}

.bottomOverflow {
	box-shadow: inset 0 -25px 20px -20px var(--body-highlight),
		inset 0 -25px 20px -20px transparent;
}

.topOverflow {
	box-shadow: inset 0 25px 20px -20px var(--body-highlight),
		inset 0 -25px 20px -20px transparent;
}

.bothOverflow {
	box-shadow: inset 0 -25px 20px -25px var(--body-highlight),
		inset 0 25px 20px -20px var(--body-highlight);
}
