.field {
	height: 100%;
	border-radius: 0.5rem;
	border: 0;
	min-height: var(--min-button-dim);
	padding: 0.5rem 1rem;
	font-size: 1rem;
}

.input {
	display: grid;
	column-gap: var(--large-spacing);
	row-gap: var(--small-spacing);
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	align-items: center;
}