.field {
	border-radius: 0.5rem;
	border: 0;
	min-height: var(--min-button-dim);
	padding: 0.5rem 1rem;
	font-size: 1rem;
	background-color: rgba(59, 59, 59, 0.524);
	color: white;
	border: 1px var(--body-highlight) solid;
}

.input {
	display: grid;
	gap: var(--small-spacing);
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	align-items: center;
}

.error {
	border-color: red;
}
