.header {
	background-color: var(--body-elevated);
	gap: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	text-align: center;
}

.title {
	font-size: 1.3rem;
	text-align: center;
	flex: 1;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.closeButton {
	color: purple;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
	min-width: var(--min-button-dim);
	min-height: var(--min-button-dim);
	display: grid;
	place-items: center;
	background-color: var(--body-highlight);
	font-size: 1.5rem;
}

.closeButton svg {
	fill: white;
}
