.root {
	position: fixed;
	top: 50%;
	left: 50%;
	width: min(90%, 600px);
	height: 90%;
	z-index: var(--overlay-index);
	display: flex;
	justify-content: space-between;
	transform: translate(-50%, -50%);
	background-color: white;
	flex-direction: column;
	background-color: var(--body-elevated);
}

.header {
	gap: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}
