.root {
	position: fixed;
	top: 50%;
	left: 50%;
	width: min(90%, 600px, 90vw);
	max-height: 80vh;
	z-index: var(--overlay-index);
	display: flex;
	justify-content: space-between;
	transform: translate(-50%, -50%);
	flex-direction: column;
	background-color: var(--body-base);
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.26) 0 15px 50px 20px;
	overflow: hidden;
	border: 1px solid var(--body-highlight);
}

.content {
	overflow-y: auto;
	flex: 1;
	padding: 1.5rem;
	overflow-y: auto;
}
