.root {
	position: fixed;
	top: 50%;
	left: 50%;
	width: min(90%, 600px, 90vw);
	max-height: 95vh;
	z-index: var(--overlay-index);
	display: flex;
	justify-content: space-between;
	transform: translate(-50%, -50%);
	flex-direction: column;
	background-color: var(--body-base);
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.26) 0 15px 50px 20px;
	overflow: hidden;
	border: 1px solid var(--body-highlight);
}

.header {
	background-color: var(--body-elevated);
	gap: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.closeButton {
	color: purple;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
	min-width: var(--min-button-dim);
	min-height: var(--min-button-dim);
	display: grid;
	place-items: center;
	background-color: var(--body-highlight);
	font-size: 1.5rem;
}

.closeButton svg {
	fill: white;
}

.title {
	font-size: 1.3rem;
	text-align: center;
	flex: 1;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.content {
	overflow-y: auto;
	flex: 1;
	padding: 1.5rem;
	overflow-y: auto;
}
