.root {
	display: flex;
	flex-direction: column;
	gap: var(--small-spacing);
	margin-bottom: var(--large-spacing);
}

.suggestions {
	display: flex;
	flex-wrap: wrap;
	gap: var(--medium-spacing);
	margin-bottom: 3rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(81px, 1fr));
	word-break: break-all;
}
