.confirmButton {
	margin-top: var(--large-spacing);
}

.error {
	text-align: center;
	color: rgb(250, 246, 246);
	padding: 1rem;
	background-color: rgb(145, 42, 42);
	margin-top: 1rem;
	border-radius: 0.4rem;
}
