.confirmButton {
	margin-top: var(--large-spacing);
}

.mainContent {
	overflow-y: auto;
}

.modalContent {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.mainContent::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px red;
	border: solid 3px transparent;
}
