.suggestion {
	flex: 1 1;
	min-height: var(--mid-button-dim);
	flex-basis: var(--mid-button-dim);
	background-color: var(--body-highlight);
	border-radius: 0.4rem;
	border: 0;
	color: var(--body-text);
	cursor: pointer;
}
