.info {
	gap: 1rem;
	align-items: center;
	justify-items: center;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.info > * {
	flex: 1 1 80px;
}

.checkmark {
	color: var(--positive-green);

	aspect-ratio: 1/1;
	border-radius: 0.5rem;
}

.title {
	text-overflow: ellipsis;
	overflow: hidden;
}
