.info {
	gap: 1rem;
	align-items: center;
	justify-items: center;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.info > * {
	flex: 1 1 80px;
}

.checkmark {
	color: var(--positive-green);

	aspect-ratio: 1/1;
	border-radius: 0.5rem;
}

.title {
	text-overflow: ellipsis;
	overflow: hidden;
}

.titleInput {
	background-color: transparent;
	border: 0;
	color: white;
	padding: var(--small-spacing);
}

.titleInput:focus {
	outline: var(--body-highlight) 1px solid;
	border-radius: var(--inner-border-radius);
}

.moreButton {
	display: grid;
	place-items: center;
}
