.midpoint {
	border: 1px var(--body-highlight) solid;
	background-color: var(--body-elevated);
	padding: var(--small-spacing);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: var(--inner-border-radius);

	justify-content: space-between;
}

.finished {
	transition: 0.5s;
	background-color: var(--body-base);
	color: gray;
	border-color: gray;
}

.info {
	gap: 1rem;
	align-items: center;
	justify-items: center;
	display: flex;
	flex-wrap: wrap;
}

.info > * {
	flex: 1 1 80px;
}
