:root {
	/* colors */
	--body-base: #0c162d;
	--body-elevated: #172237;
	--body-highlight: #1f6feb;

	--body-text: #fff;
	--text-less-highlight: hsl(0, 0%, 85%);

	/* font */
	--font-family-base: 'Lato', sans-serif;

	--overlay-index: 2137;
	--backdrop-index: 2136;

	--small-spacing: 12px;
	--medium-spacing: 24px;
	--large-spacing: 36px;

	--min-button-dim: 42px;
	--mid-button-dim: 60px;
	--max-button-dim: 72px;
}
