.midpoints {
	height: 100%;
	background-color: var(--body-elevated);
	border-radius: var(--inner-border-radius);
	overflow: hidden;
	padding: var(--large-spacing);
	display: flex;
	flex-direction: column;
	gap: var(--small-spacing);
}

.noMidpoints {
	display: grid;
	place-items: center;
	text-align: center;
}

.midpoint {
	border: 1px var(--body-highlight) solid;
	background-color: var(--body-elevated);
	padding: var(--small-spacing);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: var(--inner-border-radius);
}