.root {
	background-color: var(--body-elevated);
	padding: var(--small-spacing);
	border-radius: var(--small-spacing);
	box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
	border: 1px var(--body-highlight) solid;
	color: var(--body-text);
}

.finished {
	border-color: var(--positive-green);
}

.title {
	font-weight: bold;
	margin-bottom: 0.5rem;
	max-width: 100px;
	white-space: nowrap;
}

.steps {
	margin-top: var(--small-spacing);
	background-color: var(--body-highlight);
	padding: 0.2rem var(--small-spacing);
	border-radius: 0.6rem;
}

.textAndIcon {
	display: flex;
	gap: 1px;
	align-items: flex-start;
	text-align: left;
}

.textAndIcon svg {
	font-size: 1rem;
}

@media (min-width: 768px) {
	.root {
		transition: 0.2s;
	}
	.root:hover {
		transform: scale(1.01);
		border-color: white;
		cursor: pointer;
	}
}
