.root {
	display: flex;
	flex-direction: column;
	gap: var(--small-spacing);
	margin-bottom: var(--large-spacing);
}

.suggestions {
	gap: var(--small-spacing);
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	padding-bottom: var(--small-spacing);
}

.suggestions > * {
	flex-shrink: 0;
	flex-basis: 70px;
}

.inputHighlight {
	background-color: var(--body-elevated);
	padding: var(--small-spacing) var(--medium-spacing);
	border-radius: 0.4rem;
}

.suggestionsAvailable {
	text-align: center;
	margin-top: var(--small-spacing);
	animation: revealSuggestions 1s forwards;
}

@keyframes revealSuggestions {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.suggestionCount {
	background-color: var(--body-highlight);
	aspect-ratio: 1/1;
	border-radius: 5px;
	padding: 5px;
}

.infoParagraph {
	margin-bottom: var(--small-spacing);
}

.shortInfo {
	padding: var(--small-spacing);
	background-color: var(--body-elevated);
	border-radius: var(--inner-border-radius);
}
