.root {
	display: flex;
	flex-direction: column;
	gap: var(--small-spacing);
	margin-bottom: var(--large-spacing);
}

.suggestions {
	gap: var(--small-spacing);
	/* display: grid; */
	/* grid-template-columns: repeat(auto-fit, minmax(81px, 1fr)); */
	display: flex;
	/* word-break: break-all; */
	overflow-x: auto;
	padding-bottom: var(--small-spacing);
}

.suggestions > * {
	flex-shrink: 0;
	flex-basis: 70px;
}

.inputHighlight {
	background-color: var(--body-elevated);
	padding: var(--small-spacing) var(--medium-spacing);
	border-radius: 0.4rem;
}

.suggestionsAvailable {
	text-align: center;
	margin-top: var(--small-spacing);
}

.suggestionCount {
	background-color: var(--body-highlight);
	aspect-ratio: 1/1;
	border-radius: 5px;
	padding: 5px;
}
