.root {
	display: flex;
	gap: var(--medium-spacing);
	flex-direction: column;
}

.order {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	gap: 0.5rem;
	align-items: center;
	text-align: center;
  background-color: var(--body-elevated);
}
