.modal {
	width: min(90%, 1200px, 90vw);
}

.content {
	/* display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
	gap: var(--large-spacing);
	display: flex;
	flex-wrap: wrap;
}

.content > * {
	flex: 1 1 230px;
}
